<%- include('partials/header') %>

    <div class="container-home">
        <h2>Notepad 📒</h2>
        <button class="btn btn-primary" onclick="loginButton()">Login</button>
    </div>

<%- include('partials/footer') %>