body {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;    
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-image: url('https://www.transparenttextures.com/patterns/paper.png');
    background-size: cover;
}

.main {
    font-family: 'Courier New', Courier, monospace;
    width: 15%; /* The width of the element */
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Align text inside the element */
}

.container-home{
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
    background-color: #f0f0f0;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.login-container {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px; /* Adds space between input groups */
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #007BFF;
}

button {
    width: 95%;
    padding: 12px;
    background-color: #4d71a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1a385f;
}

.signup-link {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.google-button {
    width: 95%;
    padding: 10px;
    background-color: #4d71a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.google-button:hover {
    background-color: #1a385f;
}

.footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: rgb(99, 102, 110);
    text-align: center;
    padding: 10px 0;
}

.container-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.note-heading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.notes {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.btn-add {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* To center it horizontally within its parent container */
    font-weight: bold;
}

.date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.form-control {
    font-family: "Indie Flower", cursive;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 20px;
}

.btn-logout {
    background-color: rgb(196, 59, 59);
    width: 50%;
    margin-top: 10px;
    position: absolute;
    
}

.btn-logout:hover {
    background-color: rgb(141, 42, 42);
}